body{
    background-color: #282c37;
}
.container{
    width: 400px;
}
.card{
    background-color: #3D4554;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #2b90d9;
}
.input-group-text{
    color: #50575E;
    background-color: #E9ECEF;
}