body{
    background-color: #282c37;
}
strong{
    color: #d9e1e8;
}
h4{
    color: #d9e1e8;
    margin-bottom: 10px;
}
p{
    color: #9baec8;
}
a {
    color: #2b90d9;
}
a:hover{
    color: #1f76b0;
}
.row{
    margin-bottom: 30px;
}
.top-logo{
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
}
.text-intro{
    font-size: 17px;
}

.card{
    background-color: #3D4554;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #2b90d9;
}
.input-group-text{
    color: #50575E;
    background-color: #E9ECEF;
}